html {
  height: 100%;
  background: turquoise;
}

#container {
  height: 550px;
  width: 550px;
  background-color: hotpink;
  margin: 50px auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 0px 0px #1e293b;
  position: relative;
  font-family: "Roboto", sans-serif;
}

#Score {
  color: white;
  position: absolute;
  right: 10px;
  font-size: 1.5em;
}

#correct {
  position: absolute;
  left: 250px;
  background-color: #42e252;
  color: white;
  padding: 5px 12px;
  display: none;
  border-radius: 20px;
}

#wrong {
  position: absolute;
  left: 250px;
  background-color: #de401a;
  color: white;
  padding: 5px 12px;
  display: none;
  border-radius: 20px;
}

#question {
  width: 450px;
  height: 150px;
  margin: 50px auto 10px auto;
  background-color: rgb(red, green, blue);
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 20px;
}

#instruction {
  width: 450px;
  height: 50px;
  margin: 10px auto;
  text-align: center;
  line-height: 45px;
  color: whitesmoke;
  font-size: 2em;
}

#choices {
  width: 450px;
  height: 100px;
  margin: 5px auto;
  font-size: 1.5em;
  padding: 20px;
}

.box {
  margin-right: 35px;
  width: 85px;
  height: 100px;
  background-color: white;
  float: left;
  border-radius: 30px;
  cursor: pointerA;
  box-shadow: 0px 6px black;
  text-align: center;
  line-height: 100px;
  position: relative;
  transition: all 0.2s;
  font-size: 2em;
}

.box:hover,
#startreset:hover {
  background-color: #9c89f6;
  color: white;
  box-shadow: 0px 4px #6b54d3;
}

.box:active,
#startreset:active {
  box-shadow: 0px 0px #6b54d3;
  top: 4px;
}

#box4 {
  margin-right: 0;
}

#startreset {
  width: 250px;
  padding: 20px;
  background-color: lawngreen;
  margin: 0 auto;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s;
  border-radius: 20px;
  font-size: 1.5em;
}

#timeremaining {
  color: black;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  display: none;
  text-align: center;
  font-size: 1.5rem;
}

#gameOver {
  height: 200px;
  width: 500px;
  background: gold;
  color: purple;
  font-size: 2.3em;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 100px;
  left: 45px;
  z-index: 2;
  display: none;
  border-radius: 30px;
}

#game {
  background: skyblue;
  width: 300px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 1.5em;
  text-align: center;
}
